@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @font-face {
    font-family: "Carnival";
    src: local("Carnival"),
      url(fonts/Carnevalee Freakshow.ttf) format("opentype");
  }

  .carnival-font {
    font-family: "Carnival", sans-serif;
  }

  #root {
    @apply w-full h-screen flex items-center justify-center;
  }

  .black-bg {
    @apply w-full h-full bg-black;
  }

  iframe {
    @apply w-full h-full;
  }

  button {
    @apply !p-0 !m-0;
  }

  .btn-base {
    @apply !px-5 py-3 rounded-lg font-semibold bg-gray-800 transition-transform hover:scale-105 disabled:!opacity-50;
  }
}
